<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<p th:text="${name}" style="text-align: center"></p>

<hr/>
<!--<div shiro:hasPermission="user:add">-->
    <p>用户添加页面：<a href="/user/add">用户添加</a></p>
<!--</div>-->
<hr/>
<!--<div shiro:hasPermission="user:upd">-->
    <p>用户修改页面：<a href="/user/upd">用户修改</a></p>
<!--</div>-->
<a href="login.html" th:href="@{/logout}">退出登录</a>
</body>
</html>